{% extends 'conf/base.html' %}

{% load i18n static %}
{% load account socialaccount %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">{{ page_title }}</h1>

            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <div class="columns">
                        <div class="column">
                            <a href="{% provider_login_url 'line' process='login' scope=scope auth_params=auth_params %}"
                               class="button is-large is-fullwidth sns-button-line">
                                <i class="fab fa-line fa-2x"></i>
                            </a>
                        </div>
                        <div class="column">
                            <a href="{% provider_login_url 'facebook' process='login' scope=scope auth_params=auth_params %}"
                               class="button is-large is-fullwidth sns-button-facebook">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% providers_media_js %}

            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    {% if form.non_field_errors %}
                        <ul class="notification is-warning">
                            {% for error in form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}

                        <div class="field">
                            <label class="label" for="{{ form.login.id_for_label }}">
                                {{ form.login.label }}
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control has-icons-left">
                                <input id="{{ form.login.id_for_label }}"
                                       name="{{ form.login.name }}"
                                       type="email"
                                       class="input"
                                       {% if form.login.value != None %}value="{{ form.login.value|stringformat:'s' }}"{% endif %}
                                       {% if form.login.field.required %}required{% endif %}>
                                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="{{ form.password.id_for_label }}">
                                {{ form.password.label }}
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control has-icons-left">
                                <input id="{{ form.password.id_for_label }}"
                                       name="{{ form.password.name }}"
                                       type="password"
                                       class="input"
                                       {% if form.password.value != None %}value="{{ form.password.value|stringformat:'s' }}"{% endif %}
                                       {% if form.password.field.required %}required{% endif %}>
                                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" name="{{ form.remember.name }}"/>
                                <span class="control-label">{{ form.remember.label }}</span>
                            </label>
                        </div>

                        {% if form.non_field_errors or form.recaptcha %}
                            <div class="field">
                                <div class="g-recaptcha"
                                     data-sitekey="{{ google_recaptcha_site_key }}">
                                </div>
                            </div>
                        {% endif %}

                        <div class="control">
                            <button class="button is-primary is-fullwidth" type="submit">
                                <span class="icon"><i class="fas fa-sign-in-alt fa-fw"></i></span>
                                <span>{% trans 'Sign In' %}</span>
                            </button>
                        </div>

                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <div class="columns">
                        <div class="column">
                            <a class="button is-black is-fullwidth"
                               href="{% url 'account_reset_password' %}">
                                {% trans 'Forgot Password?' %}
                            </a>
                        </div>
                        <div class="column">
                            <a class="button is-success is-fullwidth"
                               href="{{ signup_url }}">
                                <span class="icon"><i class="fas fa-user-plus fa-fw"></i></span>
                                <span>{% trans "Sign Up" %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "member/css/sns.css" %}">
{% endblock %}
