{% extends 'member/account/profile_base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    {% with sidemenu='password' %}
        {{ block.super }}
    {% endwith %}
{% endblock content %}

{% block main_content %}
    <section>
        <div class="container">
            <h1 class="title">{{ page_title }}</h1>

            <div class="columns">
                <div class="column is-four-fifths">
                    {% if form.non_field_errors %}
                        <ul class="notification is-warning">
                            {% for error in form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="POST" action="{% url 'account_change_password' %}">
                        {% csrf_token %}

                        <div class="field">
                            <label class="label" for="{{ form.oldpassword.id_for_label }}">
                                {{ form.oldpassword.label }}
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control has-icons-left">
                                {{ form.oldpassword }}
                                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                {% if form.oldpassword.errors %}
                                    <p class="help is-danger">
                                        {% for error in form.oldpassword.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="{{ form.password1.id_for_label }}">
                                {{ form.password1.label }}
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control has-icons-left">
                                {{ form.password1 }}
                                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                {% if form.password1.errors %}
                                    <p class="help is-danger">
                                        {% for error in form.password1.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="{{ form.password2.id_for_label }}">
                                {{ form.password2.label }}
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control has-icons-left">
                                {{ form.password2 }}
                                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                {% if form.password2.errors %}
                                    <p class="help is-danger">
                                        {% for error in form.password2.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="field">
                            <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}">
                            </div>
                        </div>

                        <div class="control">
                            <button class="button is-link is-fullwidth" type="submit">
                                <span class="icon"><i class="fas fa-key"></i></span>
                                <span>{% trans 'Change password' %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
