{% extends 'member/account/profile_base.html' %}

{% load i18n static %}
{% load member_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    {% with sidemenu='profile' %}
        {{ block.super }}
    {% endwith %}
{% endblock content %}

{% block main_content %}
    <section>
        <div class="container">
            <h1 class="title">{{ page_title }}</h1>

            <div class="columns">
                <div class="column is-four-fifths">
                    <div class="columns">
                        <div class="column">
                            <ul>
                                <li>
                                    {% trans 'Email' %}: {{ member.email }}
                                </li>
                                <li>
                                    {% trans 'Fullname' %}: {{ member.first_name }} {{ member.last_name }}
                                </li>
                                <li>
                                    {% trans 'Agency' %}: {{ member.agentprofile.agency.title }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
