{% load i18n %}

{% if form.non_field_errors %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
        </div>
        <ul class="field-body notification is-danger">
            {% for error in form.non_field_errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if booking %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label" for="id_first_name">
                {% trans 'Status / Created' %}
            </label>
        </div>
        <div class="field-body">
            <div class="field has-addons">
                <div class="control is-expanded has-icons-left">
                    <input type="text"
                           value="{{ booking.get_status_display }}"
                           class="input disabled"
                           disabled>
                    <span class="icon is-small is-left"><i class="fas fa-splotch fa-fw has-text-grey"></i></span>
                </div>
                <div class="control is-expanded has-icons-left">
                    <input type="text"
                           value="{{ booking.created|date:'Y-m-d H:i' }}"
                           class="input disabled"
                           disabled>
                    <span class="icon is-small is-left"><i class="fas fa-map-pin fa-fw has-text-grey"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label" for="id_first_name">
                {% trans 'Agency / Agent' %}
            </label>
        </div>
        <div class="field-body">
            <div class="field has-addons">
                <div class="control is-expanded has-icons-left">
                    <input type="text"
                           value="{{ booking.agency.title }}"
                           class="input disabled"
                           disabled>
                    <span class="icon is-small is-left"><i class="fas fa-building fa-fw has-text-grey"></i></span>
                </div>
                <div class="control is-expanded has-icons-left">
                    <input type="text"
                           value="{{ booking.agent.agentprofile.fullname }}"
                           class="input disabled"
                           disabled>
                    <span class="icon is-small is-left"><i class="fas fa-address-card fa-fw has-text-grey"></i></span>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.club.id_for_label }}">
            {{ form.club.label }}
            <span class="has-text-danger">*</span>
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                {{ form.club }}
                <span class="icon is-small is-left"><i class="fas fa-golf-ball fa-fw has-text-grey"></i></span>
            </div>
            {% if form.club.errors %}
                <p class="help is-danger">
                    {% for error in form.club.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.round_date.id_for_label }}">
            {{ form.round_date.label }}
            <span class="has-text-danger">*</span>
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                {{ form.round_date }}
                <span class="icon is-small is-left"><i class="fas fa-calendar-alt fa-fw has-text-grey"></i></span>
            </div>
            {% if form.round_date.errors %}
                <p class="help is-danger">
                    {% for error in form.round_date.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.slot.id_for_label }}">
            {{ form.slot.label }}
            <span class="has-text-danger">*</span>
        </label>
    </div>
    <div class="field-body">
        <div class="field">

            <div class="control has-icons-left">
                {{ form.slot }}
                <span class="icon is-small is-left"><i class="fas fa-cloud-sun fa-fw has-text-grey"></i></span>
            </div>
            {% if forms.slot.errors %}
                <p class="help is-danger">
                    {% for error in form.slot.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <div class="field">
            <div class="field has-addons">
                <p class="control is-expanded has-icons-left">
                    {{ form.round_time_hour }}
                    <span class="icon is-small is-left"><i class="fas fa-clock fa-fw has-text-grey"></i></span>
                </p>
                <p class="control is-expanded has-icons-left">
                    {{ form.round_time_minute }}
                </p>
            </div>
            {% if form.round_time_hour.errors or form.round_time_hour.errors %}
                <p class="help is-danger">
                    {% for error in form.round_time_hour.errors %}
                        {{ error|escape }}
                    {% endfor %}
                    {% for error in form.round_time_minute.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.people.id_for_label }}">
            {{ form.people.label }}
            <span class="has-text-danger">*</span>
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                {{ form.people }}
                <span class="icon is-small is-left"><i class="fas fa-users fa-fw has-text-grey"></i></span>
            </div>
            {% if form.people.errors %}
                <p class="help is-danger">
                    {% for error in form.people.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.first_name.id_for_label }}">
            {{ form.first_name.label }}
            <span class="has-text-danger">*</span>
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="field has-addons">
                <p class="control is-expanded has-icons-left">
                    {{ form.first_name }}
                    <span class="icon is-small is-left"><i class="fas fa-id-card fa-fw has-text-grey"></i></span>
                </p>
                <p class="control is-expanded has-icons-left">
                    {{ form.last_name }}
                </p>
            </div>
            {% if form.first_name.errors or form.last_name.errors %}
                <p class="help is-danger">
                    {% for error in form.first_name.errors %}
                        {{ error|escape }}
                    {% endfor %}
                    {% for error in form.last_name.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">
            {% trans 'Fee' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
                <input type="text"
                       class="input has-text-dark has-background-warning"
                       id="id_fee"
                       value="{{ booking.fee }}"
                       disabled>
                <span class="icon is-small is-left"><i class="fas fa-credit-card fa-fw has-text-grey"></i></span>
            </div>
            <div class="control is-expanded has-icons-left">
                <input type="text"
                       class="input has-text-dark has-background-warning"
                       id="id_round_date_info"
                       value="{{ booking.get_season_display }} / {{ booking.get_day_of_week_display }}"
                       disabled>
                <span class="icon is-small is-left"><i class="fas fa-tasks fa-fw has-text-grey"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.memo.id_for_label }}">
            {{ form.memo.label }}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                {{ form.memo }}
            </div>
            {% if form.memo.errors %}
                <p class="help is-danger">
                    {% for error in form.memo.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
</div>