{% load i18n %}

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_first_name">
            {% trans 'Status / Created' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                       value="{{ booking.get_status_display }} / {{ booking.created|date:'Y-m-d H:i' }}"
                       class="input disabled"
                       id="id_first_name" disabled>
                <span class="icon is-small is-left"><i class="fas fa-splotch fa-fw has-text-grey"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_first_name">
            {% trans 'Agency / Agent' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                       value="{{ booking.agency.title }} / {{ booking.agent.agentprofile.fullname }}"
                       class="input disabled"
                       id="id_first_name" disabled>
                <span class="icon is-small is-left"><i class="fas fa-building fa-fw has-text-grey"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_club">
            {% trans 'Golf club' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                       value="{{ booking.club.title }}"
                       class="input disabled"
                       id="id_club" disabled>
                <span class="icon is-small is-left"><i class="fas fa-golf-ball fa-fw has-text-grey"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_round_date">
            {% trans 'Round date/time' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                       value="{{ booking.round_date|date:'Y-m-d' }}"
                       class="input disabled"
                       id="id_round_date" disabled>
                <span class="icon is-small is-left"><i class="fas fa-calendar-alt fa-fw has-text-grey"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_slot">
            {% trans 'Time slot' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                       value="{{ booking.get_slot_display }} - {{ booking.round_time|date:'H:i' }}"
                       class="input disabled"
                       id="id_slot" disabled>
                <span class="icon is-small is-left"><i class="fas fa-cloud-sun fa-fw has-text-grey"></i></span>
            </div>
        </div>
    </div>
</div>

{% if booking.status == booking.STATUS_CHOICES.payment_pending and booking.tee_off_time %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label" for="id_slot">
                {% trans 'Tee-off time' %}
            </label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control has-icons-left">
                    <input type="text"
                           value="{{ booking.tee_off_time|date:'H:i' }}"
                           class="input has-text-dark has-background-warning"
                           id="id_slot" disabled>
                    <span class="icon is-small is-left"><i class="fas fa-clock fa-fw has-text-grey"></i></span>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_people">
            {% trans 'No. of people' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                       value="{{ booking.people }}"
                       class="input disabled"
                       id="id_people" disabled>
                <span class="icon is-small is-left"><i class="fas fa-users fa-fw has-text-grey"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_first_name">
            {% trans 'Full name (Passport)' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                       value="{{ booking.fullname }}"
                       class="input disabled"
                       id="id_people" disabled>
                <span class="icon is-small is-left"><i class="fas fa-id-card fa-fw has-text-grey"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_fee">
            {% trans 'Fee' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                       class="input has-text-dark has-background-warning"
                       id="id_fee"
                       value="{{ booking.fee }}"
                       disabled>
                <span class="icon is-small is-left"><i class="fas fa-credit-card fa-fw has-text-grey"></i></span>
            </div>
        </div>
        <div class="field">
            <div class="control has-icons-left">
                <input type="text"
                       class="input has-text-dark has-background-warning"
                       id="id_fee"
                       value="{{ booking.get_season_display }} / {{ booking.get_day_of_week_display }}"
                       disabled>
                <span class="icon is-small is-left"><i class="fas fa-tasks fa-fw has-text-grey"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_memo">
            {% trans 'Memo' %}
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control has-icons-left">
                <textarea cols="40" rows="10"
                          placeholder="{% trans 'Remarks' %}"
                          class="textarea disabled"
                          id="id_memo" disabled>{{ booking.memo }}</textarea>
            </div>
        </div>
    </div>
</div>