{% load i18n %}

{% for tee_off_time in booking.bookingteeofftime_set.all %}
    <div class="field is-horizontal">
        <div class="field-label is-normal"></div>
        <div class="field-body">
            <div class="field has-addons">
                <p class="control is-expanded">
                    <input type="text" value="{{ tee_off_time.tee_off_time|date:'H:i' }}"
                           class="input disabled tee_off_time"
                           disabled="">
                </p>
                <p class="control">
                    {% if tee_off_time.status == tee_off_time.STATUS_CHOICES.accepted %}
                        <a class="button is-primary tee_off_time_accept"
                           data-id="{{ tee_off_time.pk }}"
                           data-accept_text="{% trans 'Accept' %}"
                           data-confirmed_text="{% trans 'Confirmed' %}">
                            <span class="icon"><i class="far fa-check-square"></i></span>
                            <span>{% trans 'Confirmed' %}</span>
                        </a>
                    {% else %}
                        <a class="button is-warning tee_off_time_accept"
                           data-id="{{ tee_off_time.pk }}"
                           data-accept_text="{% trans 'Accept' %}"
                           data-confirmed_text="{% trans 'Confirmed' %}">
                            <span class="icon"><i class="far fa-check-square"></i></span>
                            <span>{% trans 'Accept' %}</span>
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endfor %}