{% extends 'conf/base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">{{ page_title }}</h1>

            <div class="columns is-centered">
                <div class="column is-four-fifths">
                    <form method="post">
                        {% csrf_token %}

                        {% include './_booking_detail.html' with booking=booking %}
                    
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                {% if booking.status == booking.STATUS_CHOICES.payment_pending or booking.status == booking.STATUS_CHOICES.offered %}
                                    <div class="field">
                                        <div class="control is-expanded">
                                            <button class="button is-primary is-fullwidth">
                                                 <span class="icon"><i class="far fa-edit"></i></span>
                                                <span>{% trans 'Change order' %}</span>
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <div class="control is-expanded">
                                        <a href="{% url 'golf:staff-booking-list' %}"
                                           class="button is-dark is-fullwidth">
                                            <span class="icon"><i class="far fa-list-alt"></i></span>
                                            <span>{% trans 'Order list' %}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static "conf/css/vendor/jquery-ui.css" %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "conf/js/vendor/jquery-ui.min.js" %}"></script>
    {% if LANGUAGE_CODE == 'th' %}
        <script type="text/javascript"
                src="{% static "golf/js/datepicker-th.js" %}"></script>
    {% elif LANGUAGE_CODE == 'ko' %}
        <script type="text/javascript"
                src="{% static "golf/js/datepicker-ko.js" %}"></script>
    {% endif %}
    <script type="text/javascript"
            src="{% static "conf/js/csrf-cookie.js" %}"></script>
    <script type="text/javascript"
            src="{% static "golf/js/booking.js" %}"></script>
{% endblock %}