{% extends 'conf/base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">{{ page_title }}</h1>

            <div class="columns is-centered">
                <div class="column is-four-fifths">
                    <form>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="id_first_name">
                                    {% trans 'Status / Created' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               value="{{ booking.get_status_display }} / {{ booking.created|date:'Y-m-d H:i' }}"
                                               class="input disabled"
                                               id="id_first_name" disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-splotch fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="id_first_name">
                                    {% trans 'Agency / Agent' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               value="{{ booking.agency.title }} / {{ booking.agent.agentprofile.fullname }}"
                                               class="input disabled"
                                               id="id_first_name" disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-building fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="id_club">
                                    {% trans 'Golf club' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               value="{{ booking.club.title }}"
                                               class="input disabled"
                                               id="id_club" disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-golf-ball fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="id_round_date">
                                    {% trans 'Round date/time' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               value="{{ booking.round_date|date:'Y-m-d' }}"
                                               class="input disabled"
                                               id="id_round_date" disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-calendar-alt fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="id_slot">
                                    {% trans 'Time slot' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               value="{{ booking.get_slot_display }} - {{ booking.round_time|date:'H:i' }}"
                                               class="input disabled"
                                               id="id_slot" disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-cloud-sun fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="id_people">
                                    {% trans 'No. of people' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               value="{{ booking.people }}"
                                               class="input disabled"
                                               id="id_people" disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-users fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="id_first_name">
                                    {% trans 'Full name (Passport)' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               value="{{ booking.fullname }}"
                                               class="input disabled"
                                               id="id_people" disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-id-card fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="id_fee">
                                    {% trans 'Fee' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               class="input has-text-dark has-background-warning"
                                               id="id_fee"
                                               value="{{ booking.fee }}"
                                               disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-credit-card fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               class="input has-text-dark has-background-warning"
                                               id="id_fee"
                                               value="{{ booking.get_season_display }} / {{ booking.get_day_of_week_display }}"
                                               disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-tasks fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="id_memo">
                                    {% trans 'Memo' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <textarea name="memo"
                                                  cols="40"
                                                  rows="10"
                                                  placeholder="{% trans 'Remarks' %}"
                                                  class="textarea disabled"
                                                  id="id_memo" disabled>{{ booking.memo }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                {% if booking.status == booking.STATUS_CHOICES.order_made %}
                                    <div class="field">
                                        <div class="control is-expanded">
                                            <a href="{% url 'golf:agency-booking-delete' booking.booking_uuid %}"
                                               class="button is-danger is-fullwidth">
                                                <span class="icon"><i class="fas fa-trash-alt"></i></span>
                                                <span>{% trans 'Delete order' %}</span>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <div class="control is-expanded">
                                        <a href="{% url 'golf:agency-booking-list' %}"
                                           class="button is-dark is-fullwidth">
                                            <span class="icon"><i class="far fa-list-alt"></i></span>
                                            <span>{% trans 'Order list' %}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript"
            src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {% if LANGUAGE_CODE == 'th' %}
        <script type="text/javascript"
                src="{% static "golf/js/datepicker-th.js" %}"></script>
    {% elif LANGUAGE_CODE == 'ko' %}
        <script type="text/javascript"
                src="{% static "golf/js/datepicker-ko.js" %}"></script>
    {% endif %}
    <script type="text/javascript"
            src="{% static "conf/js/csrf-cookie.js" %}"></script>
    <script type="text/javascript"
            src="{% static "golf/js/booking.js" %}"></script>
{% endblock %}