{% extends 'conf/base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">{{ page_title }}</h1>

            <div class="columns is-centered">
                <div class="column is-four-fifths">
                    <form method="post">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                </div>
                                <ul class="field-body notification is-danger">
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="{{ form.club.id_for_label }}">
                                    {{ form.club.label }}
                                    <span class="has-text-danger">*</span>
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ form.club }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-golf-ball fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                    {% if form.club.errors %}
                                        <p class="help is-danger">
                                            {% for error in form.club.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="{{ form.round_date.id_for_label }}">
                                    {{ form.round_date.label }}
                                    <span class="has-text-danger">*</span>
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ form.round_date }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-calendar-alt fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                    {% if form.round_date.errors %}
                                        <p class="help is-danger">
                                            {% for error in form.round_date.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="{{ form.slot.id_for_label }}">
                                    {{ form.slot.label }}
                                    <span class="has-text-danger">*</span>
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ form.slot }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-cloud-sun fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                    {% if forms.slot.errors %}
                                        <p class="help is-danger">
                                            {% for error in form.slot.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ form.round_time_hour }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-clock fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                    {% if form.round_time_hour.errors %}
                                        <p class="help is-danger">
                                            {% for error in form.round_time_hour.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ form.round_time_minute }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-clock fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                    {% if form.round_time_hour.errors %}
                                        <p class="help is-danger">
                                            {% for error in form.round_time_minute.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="{{ form.people.id_for_label }}">
                                    {{ form.people.label }}
                                    <span class="has-text-danger">*</span>
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ form.people }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-users fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                    {% if form.people.errors %}
                                        <p class="help is-danger">
                                            {% for error in form.people.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="{{ form.first_name.id_for_label }}">
                                    {{ form.first_name.label }}
                                    <span class="has-text-danger">*</span>
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ form.first_name }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-id-card fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                    <p class="help is-dark">
                                        {{ form.first_name.help_text }}
                                    </p>
                                    {% if form.first_name.errors %}
                                        <p class="help is-danger">
                                            {% for error in form.first_name.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ form.last_name }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-id-card fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                    <p class="help is-dark">
                                        {{ form.last_name.help_text }}
                                    </p>
                                    {% if form.last_name.errors %}
                                        <p class="help is-danger">
                                            {% for error in form.last_name.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">
                                    {% trans 'Fee' %}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               class="input has-text-dark has-background-warning"
                                               id="id_fee"
                                               value="0"
                                               disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-credit-card fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               class="input has-text-dark has-background-warning"
                                               id="id_round_date_info"
                                               disabled>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-tasks fa-fw has-text-grey"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="{{ form.memo.id_for_label }}">
                                    {{ form.memo.label }}
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        {{ form.memo }}
                                    </div>
                                    {% if form.memo.errors %}
                                        <p class="help is-danger">
                                            {% for error in form.memo.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="id_agency" name="agency"
                               value="{{ request.user.agentprofile.agency.id }}">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-expanded">
                                        <button class="button is-link is-fullwidth" type="submit">
                                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                                            <span>{% trans 'Make an order' %}</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control is-expanded">
                                        <a href="{% url 'golf:agency-booking-list' %}"
                                           class="button is-dark is-fullwidth">
                                            <span class="icon"><i class="far fa-list-alt"></i></span>
                                            <span>{% trans 'Order list' %}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript"
            src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {% if LANGUAGE_CODE == 'th' %}
        <script type="text/javascript"
                src="{% static "golf/js/datepicker-th.js" %}"></script>
    {% elif LANGUAGE_CODE == 'ko' %}
        <script type="text/javascript"
                src="{% static "golf/js/datepicker-ko.js" %}"></script>
    {% endif %}
    <script type="text/javascript"
            src="{% static "conf/js/csrf-cookie.js" %}"></script>
    <script type="text/javascript"
            src="{% static "golf/js/booking.js" %}"></script>
{% endblock %}