{% extends 'conf/base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">{{ page_title }}</h1>

            <div class="columns is-centered">
                <div class="column is-four-fifths">
                    <form method="post">
                        {% csrf_token %}

                        {% include './_booking_form.html' with form=form booking=None %}

                        <input type="hidden" id="id_agency" name="agency"
                               value="{{ request.user.agentprofile.agency.id }}">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-expanded">
                                        <button class="button is-link is-fullwidth" type="submit">
                                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                                            <span>{% trans 'Make order' %}</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control is-expanded">
                                        <a href="{% url 'golf:agency-booking-list' %}"
                                           class="button is-dark is-fullwidth">
                                            <span class="icon"><i class="far fa-list-alt"></i></span>
                                            <span>{% trans 'Order list' %}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript"
            src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {% if LANGUAGE_CODE == 'th' %}
        <script type="text/javascript"
                src="{% static "golf/js/datepicker-th.js" %}"></script>
    {% elif LANGUAGE_CODE == 'ko' %}
        <script type="text/javascript"
                src="{% static "golf/js/datepicker-ko.js" %}"></script>
    {% endif %}
    <script type="text/javascript"
            src="{% static "conf/js/csrf-cookie.js" %}"></script>
    <script type="text/javascript"
            src="{% static "golf/js/booking.js" %}"></script>
    <script>
        $(document).ready(function () {
            reset_round_time_hour();
        });
    </script>
{% endblock %}