{% extends 'conf/base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">{{ page_title }}</h1>

            <div class="columns">
                <div class="column">
                    <form action="#" method="get">
                        <div class="field has-addons">
                            <p class="control">
                            <span class="select">
                                {{ booking_search_form.category }}
                            </span>
                            </p>
                            <p class="control is-expanded">
                                {{ booking_search_form.keyword }}
                            </p>
                            <p class="control">
                                <a class="button is-success">
                                    <i class="fas fa-search"></i>
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <form action="#" method="get">
                        <div class="field has-addons">
                            <p class="control">
                                <a href="#" class="button is-success">
                                    {% trans 'Booking status' %}
                                </a>
                            </p>
                            <p class="control is-expanded">
                            <span class="select is-fullwidth">
                                {{ booking_status_search_form.status }}
                            </span>
                            </p>
                            <p class="control">
                                <a class="button is-success">
                                    <i class="fas fa-filter"></i>
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <form action="#" method="get">
                        <div class="field has-addons">
                            <p class="control">
                                <a href="#" class="button is-success">
                                    {% trans 'Golf club' %}
                                </a>
                            </p>
                            <p class="control is-expanded">
                            <span class="select is-fullwidth">
                                {{ booking_club_search_form.club }}
                            </span>
                            </p>
                            <p class="control">
                                <a class="button is-success">
                                    <i class="fas fa-filter"></i>
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="columns is-hidden-touch">
                <div class="column">
                    {% trans 'Booking status' %}
                </div>
                <div class="column">
                    {% trans 'Golf club' %}
                </div>
                <div class="column">
                    {% trans 'Round date/time' %}
                </div>
                <div class="column">
                    {% trans 'No. of people' %}
                </div>
                <div class="column">
                    {% trans 'Fee' %}
                </div>
                <div class="column">
                    {% trans 'Season / Day of week / Slot' %}
                </div>
                <div class="column">
                    {% trans 'Booking person' %}
                </div>
            </div>

            {% for booking in booking_list %}
                <div class="columns">
                    <div class="column">
                        {% if booking.status == booking.STATUS_CHOICES.pending %}
                            <span class="tag is-warning">
                        {% elif booking.status == booking.STATUS_CHOICES.confirmed %}
                            <span class="tag is-success">
                        {% elif booking.status == booking.STATUS_CHOICES.shipped %}
                            <span class="tag is-link">
                        {% else %}
                            <span class="tag is-success">
                        {% endif %}
                        {{ booking.get_status_display }}
                        </span>
                    </div>
                    <div class="column">
                        {{ booking.club.title }}
                    </div>
                    <div class="column">
                        {{ booking.round_date|date:'Y-m-d' }} {{ booking.round_time|date:'H:i' }}
                    </div>
                    <div class="column">
                        {{ booking.people }}
                    </div>
                    <div class="column">
                        {{ booking.fee }}
                    </div>
                    <div class="column">
                        {{ booking.get_season_display }}
                        {{ booking.get_day_of_week_display }}
                        {{ booking.get_slot_display }}
                    </div>
                    <div class="column">
                        {{ booking.booking_person }}
                    </div>
                </div>
            {% endfor %}
            <div class="columns">
                <div class="column">
                    <a href="{% url 'golf:agency-booking-create' %}" class="button is-link is-fullwidth">
                        <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                        <span>{% trans 'Make an order' %}</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
