{% extends 'conf/base.html' %}

{% load i18n static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">{{ page_title }}</h1>

            <div class="columns">
                <div class="column">
                    <form action="" method="get">
                        <div class="field has-addons">
                            <p class="control">
                            <span class="select">
                                {{ booking_search_form.category }}
                            </span>
                            </p>
                            <p class="control is-expanded">
                                {{ booking_search_form.keyword }}
                            </p>
                            <p class="control">
                                <a class="button is-success">
                                    <i class="fas fa-search"></i>
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <form action="" method="get">
                        <div class="field has-addons">
                            <p class="control">
                                <a href="{% url 'golf:staff-booking-list' %}" class="button is-success has-text-dark">
                                    {% trans 'Booking status' %}
                                </a>
                            </p>
                            <p class="control is-expanded">
                            <span class="select is-fullwidth">
                                {{ booking_status_search_form.status }}
                            </span>
                            </p>
                            <p class="control">
                                <a class="button is-success">
                                    <i class="fas fa-filter"></i>
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <form action="" method="get">
                        <div class="field has-addons">
                            <p class="control">
                                <a href="{% url 'golf:staff-booking-list' %}" class="button is-success has-text-dark">
                                    {% trans 'Agency' %}
                                </a>
                            </p>
                            <p class="control is-expanded">
                            <span class="select is-fullwidth">
                                {{ booking_agency_search_form.agency }}
                            </span>
                            </p>
                            <p class="control">
                                <a class="button is-success">
                                    <i class="fas fa-filter"></i>
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <form action="" method="get">
                        <div class="field has-addons">
                            <p class="control">
                                <a href="{% url 'golf:staff-booking-list' %}" class="button is-success has-text-dark">
                                    {% trans 'Golf club' %}
                                </a>
                            </p>
                            <p class="control is-expanded">
                            <span class="select is-fullwidth">
                                {{ booking_club_search_form.club }}
                            </span>
                            </p>
                            <p class="control">
                                <a class="button is-success">
                                    <i class="fas fa-filter"></i>
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="columns has-text-weight-bold is-hidden-touch">
                <div class="column is-1">
                    {% trans 'Booking status' %}
                </div>
                <div class="column is-1">
                    {% trans 'Golf club' %}
                </div>
                <div class="column is-2">
                    {% trans 'Round date/time' %}
                </div>
                <div class="column is-1">
                    {% trans 'No. of people' %}
                </div>
                <div class="column is-2">
                    {% trans 'Season / Day of week / Slot' %}
                </div>
                <div class="column is-1">
                    {% trans 'Fee' %}
                </div>
                <div class="column is-2">
                    {% trans 'Booking person' %}
                </div>
                <div class="column is-2">
                    {% trans 'Agency / Agent' %}
                </div>
            </div>

            {% for booking in booking_list %}
                <div class="columns">
                    <div class="column is-1">
                        {% if booking.status == booking.STATUS_CHOICES.order_made %}
                            <a href="{% url 'golf:staff-booking-accept' booking.booking_uuid %}"
                               class="tag is-warning has-text-dark">
                        {% elif booking.status == booking.STATUS_CHOICES.order_pending or booking.status == booking.STATUS_CHOICES.offered %}
                            <a href="{% url 'golf:staff-booking-confirm' booking.booking_uuid %}"
                               class="tag is-danger">
                        {% else %}
                            <a href="{% url 'golf:staff-booking-detail' booking.booking_uuid %}"
                               class="tag is-primary has-text-dark">
                        {% endif %}
                        {{ booking.get_status_display }}
                        </a>
                    </div>
                    <div class="column is-1">
                        {{ booking.club.title }}
                    </div>
                    <div class="column is-2">
                        {{ booking.round_date|date:'Y-m-d' }} {{ booking.round_time|date:'H:i' }}
                    </div>
                    <div class="column is-1">
                        {{ booking.people }}
                    </div>
                    <div class="column is-2">
                        {{ booking.get_season_display }}
                        / {{ booking.get_day_of_week_display }}
                        / {{ booking.get_slot_display }}
                    </div>
                    <div class="column is-1">
                        {{ booking.fee }}<br>
                    </div>
                    <div class="column is-2">
                        {{ booking.fullname }}
                    </div>
                    <div class="column is-2">
                        {{ booking.agency.title }} / {{ booking.agent.agentprofile.fullname }}
                    </div>
                </div>
            {% endfor %}
            {% include './_pagination_booking_list.html' with page_obj=page_obj page_range=page_range category=request.GET.category keyword=request.GET.keyword status=request.GET.status club=request.GET.club %}
        </div>
    </section>
{% endblock %}
