<!DOCTYPE html>
<html lang="th">
<head>
    {% load static %}
    {% load i18n %}
    {% load member_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NaOne : {% block title %}{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet"
              href="{% static "conf/css/sarabun.css" %}">
        <link rel="stylesheet"
              href="{% static "conf/css/windmill.css" %}">
        <link rel="stylesheet"
              href="{% static "conf/css/base.css" %}">
        <link rel="stylesheet"
              href="//use.fontawesome.com/releases/v5.10.1/css/all.css"
              integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe"
              crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180"
              href="{% static 'conf/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32"
              href="{% static 'conf/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{% static 'conf/favicon/favicon-16x16.png' %}">
        {{ form.media.css }}
    {% endblock %}
</head>
<body>

{% groups request.user as user_groups %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div id="gray-background"></div>

<!-- sidenav -->
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}">
                <img src="{% static 'conf/images/logo.png' %}"
                     width="180" alt="NaOne">
            </a>
            <a class="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Golf clubs
                </a>
                <a class="navbar-item">
                    Hotels
                </a>
                <a class="navbar-item">
                    Transport
                </a>
                <a class="navbar-item">
                    Restaurants
                </a>
            </div>

            <div class="navbar-end">
                {% if not user.is_authenticated %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="{% url 'account_login' %}" class="button is-primary">
                                <span class="icon"><i class="fas fa-sign-in-alt fa-fw"></i></span>
                                <span>{% trans 'Sign In' %}</span>
                            </a>
                            <a href="{% url 'account_signup' %}" class="button is-light">
                                <span class="icon"><i class="fas fa-user-plus fa-fw"></i></span>
                                <span>{% trans 'Sign Up' %}</span>
                            </a>
                        </div>
                    </div>
                {% else %}
                    {% if 'agency' in user_groups %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                {% trans 'Agency' %}
                            </a>
                            <div class="navbar-dropdown">
                                <a href="{% url 'golf:agency-booking-list' %}" class="navbar-item">
                                    <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                                    <span>{% trans 'Booking management' %}</span>
                                </a>
                            </div>
                        </div>
                    {% elif 'staff' in user_groups %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                {% trans 'Staff' %}
                            </a>
                            <div class="navbar-dropdown">
                                <a href="{% url 'golf:staff-booking-list' %}" class="navbar-item">
                                    <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                                    <span>{% trans 'Booking management' %}</span>
                                </a>
                                <a href="#" class="navbar-item">
                                    <span class="icon"><i class="fas fa-user-cog fa-fw"></i></span>
                                    <span>{% trans 'Agents management' %}</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {% trans 'Me' %}
                        </a>
                        <div class="navbar-dropdown">
                            <a href="{% url 'account_profile' %}" class="navbar-item">
                                <span class="icon"><i class="fas fa-user-cog fa-fw"></i></span>
                                <span>{% trans "Profile" %}</span>
                            </a>
                            {% if not user_groups %}
                                <a href="{% url 'account_organization' %}" class="navbar-item">
                                    <span class="icon"><i class="fas fa-building fa-fw"></i></span>
                                    <span>{% trans 'Organization application' %}</span>
                                </a>
                            {% endif %}
                            <hr class="navbar-divider">
                            <a href="{% url 'account_logout' %}" class="navbar-item">
                                <span class="icon"><i class="fas fa-sign-out-alt fa-fw"></i></span>
                                <span>{% trans 'Sign Out' %}</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<main>{% block content %}{% endblock %}</main>

<footer class="footer has-background-grey-lighter">
    <div class="container">
        <div class="columns">
            <div class="column">
                Copyright &copy; {% now "Y" %} <strong>NaOne</strong>
                All Rights Reserved.
            </div>
            <div class="column has-text-right-tablet">
                <form class="is-inline" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                    <div class="select is-small">
                        <select id="language-selector" name="language">
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

{% if messages %}
    <div style="display:none">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
</body>

{% block javascript %}
    <script type="text/javascript"
            src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript"
            src="{% static "conf/js/base.js" %}"></script>
    {{ form.media.js }}
{% endblock %}
</html>